.submenustyle, .submenustyle div{
font: normal 13px Verdana;
margin: 0;
padding: 0;
position: absolute;
left: 0;
top: 0;
list-style-type: none;
background: white;
border: 1px solid black;
border-bottom-width: 0;
visibility: hidden;
z-index: 100;
}

.submenustyle ul{
margin: 0;
padding: 0;
position: absolute;
left: 0;
top: 0;
list-style-type: none;
border: 0px none;
}

.submenustyle li a{
display: block;
width: 170px;
color: black;
background-color: #FFFFE0;
text-decoration: none;
padding: 4px 5px;
border-bottom: 1px solid black;
}

* html .submenustyle li{
display: inline-block;
width: 170px;
}

.submenustyle li a:hover{
background-color: black;
color: white;
}

.downarrowpointer{
padding-left: 4px;
border: 0;
}

.rightarrowpointer{
position: absolute;
padding-top: 3px;
left: 100px;
border: 0;
}

.iframeshim{
position: absolute;
z-index: 500;
background: transparent;
border-width: 0;
width: 0;
height: 0;
display: block;
}