@charset "UTF-8";
/* CSS Document */

div {
	color:#A2DBEE;
	font-family:Helvetica;
	text-align:center;
	font-size:13px;
}

h1 {
	color:#A2DBEE;
	font-family:Helvetica;
}

h2 {
	color:#A2DBEE;
	font-family:Helvetica;
}

p {
	font-size:12px;
	color:#A2DBEE;
	font-family:Helvetica;
}

#box1 {
	box-shadow: 6px 6px #A36800 inset;
	background-color:#FF962F;
	width: 100px;
	height:100px;
    border: 2px solid blue;
	margin:50px;
}

#box1 span {
	color:#000000;
	font-size:13px;
}

#box2 {
	box-shadow: 6px 6px #979797;
	border-radius:12px;
	background-color:#FF962F;
	width: 100px;
	height:100px;
    border: 2px solid blue;
	margin:50px;
}

#box2 span {
	color:red;
	font-size:13px;
}

#box3 {
	box-shadow: 6px 6px #979797;
	border-radius:15px;
	background-color:#FF962F;
	width: 100px;
	height:100px;
    border: 2px solid blue;
	margin:50px;
}

#box3 span {
	color:blue;
	font-size:13px;
}